.logo-image {
  position: absolute;
margin:auto;
left: 0;
right: 0;
top: 0;
bottom: 0;

    border-radius: 100%;
    width: 15%;
    z-index: 2;
}

.category-image {
  width: 100%;
  margin: 0;
}


.main {
  position: relative;
  margin: 5% 10% 0;
  line-height: 0;
  -webkit-column-count: 2;
  -webkit-column-gap: 0;
  -moz-column-count: 2;
  -moz-column-gap: 0;
  -ms-column-count: 2;
  -ms-column-gap: 0;
  column-count: 2;
  column-gap: 0;
}

body, header, footer {
  color: #393e46;
  margin: 0;
  padding: 0 6%;
  background-color: #f2f2f2;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
}

a {
  color: #393e46;
}

a:hover {
  color: #222831;
  text-decoration: none;
}

/* navbar */
.margines {
  height: 60px;
}


footer i {
  margin: 50px 15px 0;
  color: #393e46;
}

i:hover {
  color: #222831;
}

footer {
  text-align: center;
}

h1 {
  display: none;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 20px;
}


@media screen and (max-aspect-ratio: 5/4) {
  .main {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    -ms-column-count: 1;
    column-count: 1;
    text-align: center;
  }

  h1 {
    display:block;
  }

  .logo-image {
    position: fixed;
    margin: 0;
  left: 25px;
  top: 50px;

      border-radius: 100%;
      width: 10%;
      z-index: 2;
  }
}
